.App {
    text-align: left;
    background-size:cover;
    background-position: center;
    position: relative;
    width:100%;
    height:100%;
    


    /*background-color: rgb(88, 88, 88);*/
    
}
html, body{
    width: 100%;
    height: 100%;
  }
.row {
    margin-right:auto;
    margin-left: auto;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.App-logo {
    height: 100vmin;
}

.App-header {
    background-color: #941515;
    /*background-image: url('/logo192.png');*/
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(252, 227, 7);
}
.App-header1 {
    background-color:  rgb(252, 227, 7);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
}

.App-link {
    color: #09d3ac;
}
.description button {
    border:1px solid #000000;
    background:#000000;
    border-radius: 0;
    justify-self: right;
    justify-content: right;
    justify-items: right;
    color:#fff;
}
.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
    
}